.bg-whithe{
    background-color: #ffff;
}
.whithe{
    color: #ffff;
}
 .bg-rosa{
   
     background-color:#db949b;
 }
 .rosa{
     color: #db949b;
 }
 .bg-black{
     background-color: black;    
 }
 .black{
     color: black;
 }
 .dourado{
     color: #f0cc72;
 }
 .bg-dourado{
     background-color: #f0cc72;
 }
 .grad{
    height: auto;
    background-color: #db949b; /* For browsers that do not support gradients */
    background-image: linear-gradient(#db949b,#f0cc72 );
  }
