.bg-whithe{
    background-color: #ffff;
}
.whithe{
    color: #ffff;
}
 .bg-rosa{
   
     background-color:palevioletred;
 }
 .rosa{
     color: palevioletred;
 }
 .bg-black{
     background-color: black;    
 }
 .black{
     color: black;
 }
 .dourado{
     color: rgb(190, 180, 40);
 }
 .bg-dourado{
     background-color: rgb(180, 170, 26);
 }
 .grad{
    height: 200px;
    background-color: palevioletred; /* For browsers that do not support gradients */
    background-image: linear-gradient(palevioletred,rgb(190, 180, 40) );
  }