 /*Cabeçalho*/

header{background-image: url(../img/produtos/img11.jpg); 
    background-position: center;   
    
  
    
}
   /*Navegação*/

nav{ max-height: 50px;
    min-height: 30px;
    background-color:palevioletred;
  position: static;
  top: 0;
}
nav ul {
     display:block;
    float: left;
     
}
nav ul li {
    display: inline-block;
   line-height: 50px;
   color: black;
   font-size: 15pt;
   font-family: Arial, Helvetica, sans-serif;
 
}
nav ul li a{color: 
    black;text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

    /* padding 15px 25px */           

 }
nav ul li a:hover{ 
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}

body {background-color:rgba(248, 245, 245, 0.993); 
 
    font-family: Arial, Helvetica, sans-serif;
}
   /*SEÇÃO*/

section {
    background-color: white;
    min-height: 250px;
    max-height: 100%;
    padding: 80px 0;
}

#rodape div h1{
    font-size: 40px;
    padding-bottom: 10px;   
 }

#propagandas1{
 background-image: url(../img/propaganda1.jpg);background-size: cover
}
#propagandas2{
    background-image: url(../img/propaganda2.jpg);background-size: cover; 
}
.left{
    float: left;
}


.produtos {
    border-radius: 5%;
    border:solid 1px #888
}
.produtos input, .produtos button{
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    padding: 5px;
}

@media screen and (max-width: 760px){
     nav ul{        
         width: 100%;
}
   nav ul li{
       width: 100%;
   }  
   nav ul l a{
       text-align: center;
       
   }   
}
.responsive{
    width: 100%;
}
.centro{
    text-align: center;
    margin: auto;
}
.borda{
    border-radius:50%
}
.fonte{
    font-size: 30px;
}
/*media*/
@media screen and (max-width:760px){

    .sair{display: none;}
   
}
